POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-this-to-a-strong-password
POSTGRES_DB=paramascotasec
POSTGRES_BIND_IP=0.0.0.0
POSTGRES_PORT=5432
BACKUP_ENCRYPTION_PASSPHRASE=change-this-to-a-long-random-passphrase
